<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container py-5">
  <div class="row">
      <div class="col-lg-6">
          <h1 class="font-weight-light mb-5">Acerca de Nosotros</h1>
          <p class="lead text-muted">Somos un grupo de estudiantes de Valle Grande, trabajando en transacciones de Ethereum por medio de Remix Ide.</p>
          <h2 class="font-weight-light mb-5">Nuestra Historia</h2>
          <p class="lead text-muted">Estamos cursando el sexto semestre de la carrera de Analisis de Sistemas y este proyecto es parte del PIB (Proyecto de innovación Blockchain).</p>
      </div>
      <div class="col-lg-6">
          <h2 class="font-weight-light mb-5">Nuestro Equipo</h2>
          <p class="lead text-muted">
              Jhonn Sotomayor Sanchez 
              <a href="https://www.linkedin.com/in/jhonn-sotomayor-4629971b2/" target="_blank">
                  <img src="https://static.vecteezy.com/system/resources/previews/018/930/587/original/linkedin-logo-linkedin-icon-transparent-free-png.png" width="40" height="40">
              </a>
          </p>
          <p class="lead text-muted">
              Angelo La Madrid Escalante 
              <a href="https://www.linkedin.com/in/angelo-la-madrid-7a970423a/" target="_blank">
                  <img src="https://static.vecteezy.com/system/resources/previews/018/930/587/original/linkedin-logo-linkedin-icon-transparent-free-png.png" width="40" height="40">
              </a>
          </p>
      </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>