<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="index.html"><span>Sol</span>Coin</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a href="index.html">Inicio</a></li>

        <li><a href="#transaccion">Transaccion</a></li>

        <li><a href="#team"><span>Acerca del equipo</span></a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(https://www.cryptocurrency10.com/img/articles/qu%C3%A9-es-MetaMask.jpeg);">
        <div class="carousel-container">
          <div class="carousel-content animate__animated animate__fadeInUp">
            <h2>Bienvenido a <span>SolCoin</span></h2>
            <p>Somos una empresa dedicada a proporcionar a los usuarios de MetaMask una plataforma segura y eficiente para realizar transacciones de Ethereum. Nuestra misión es facilitar el acceso y la gestión de activos digitales, garantizando una experiencia de usuario fluida y confiable para todos nuestros clientes.</p>
          </div>
        </div>
      </div>

    </div>

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Us Section ======= -->
  <section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-right">
          <h2>Caracteristicas de SolCoin</h2>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">

          <ul>
            <li><i class="ri-check-double-line"></i> Procesamiento eficiente para que tus transacciones se completen en cuestión de segundos.</li>
            <li><i class="ri-check-double-line"></i> Diseño fácil de usar que permite a los usuarios gestionar sus activos sin complicaciones.</li>
            <li><i class="ri-check-double-line"></i> Disfruta de tarifas bajas que maximizan el valor de tus transacciones.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 style="color: #1eab36;">OBJETIVOS</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <!-- Reemplaza el SVG e ícono con una imagen -->
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUkvtg9L1oBVOoWUMqrwmLVo4Fc4QF5xoNsg&s" alt="SUNAT" width="100" height="100">
            </div>
            <h4><a href="">SUNAT</a></h4>
            <p>Integración de pagos a servicios de Sunat</p>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange">
            <div class="icon reniec-icon">
              <!-- Reemplaza el SVG e ícono con una imagen -->
              <img src="https://web.kaizen-certification.com/wp-content/uploads/2020/11/RENIEC.png" alt="RENIEC" class="reniec-img">
            </div>
            <br>
            <br>
            <p>Integración de pagos a servicios de Reniec</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- End Services Section -->
  
</main><!-- End #main -->

<!-- ======= rputer-outlet ====== -->
<!-- <router-outlet></router-outlet> -->

<section id="transaccion">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <!-- Botón para iniciar sesión con MetaMask -->
         <br> 
            <div class="text-center animated btn-meta mb-4">
              <button class="btn btn-primary" (click)="connectWallet()">
                <i class="fas fa-sign-in-alt"></i> Iniciar sesión con MetaMask
              </button>
            </div>
        <!-- Card para la información del usuario -->
        <div class="card mb-4 shadow-lg">
          <div class="card-header header-blockchain text-center">
            <h4><i class="fas fa-user-circle"></i> Datos del Usuario</h4>
          </div>
          <div class="card-body">
            <div class="mb-4">
              <h5><i class="fas fa-user"></i> Dirección de la cuenta de usuario</h5>
              <p class="text-muted">{{ address }}</p>
            </div>
            <div class="mb-4">
              <h5><i class="fas fa-wallet"></i> Saldo de cuenta del usuario</h5>
              <p class="text-muted">{{ balance }} ETH</p>
            </div>
          </div>
        </div>
        <!-- Card para el formulario de transacción -->
        <div class="card shadow-lg">
          <div class="card-header header-blockchain text-center">
            <h2><i class="fas fa-exchange-alt"></i> Transacción P2P</h2>
          </div>
          <div class="card-body">
            <form [formGroup]="transactionForm" (ngSubmit)="sendTransaction()">
              <div class="form-group">
                <label for="toAddress"><i class="fas fa-arrow-right"></i> Dirección de destino</label>
                <input type="text" id="toAddress" class="form-control" formControlName="toAddress" placeholder="Ingrese la dirección de destino">
              </div>
              <div class="form-group mt-4">
                <label for="amount"><i class="fas fa-coins"></i> Cantidad (ETH)</label>
                <input type="number" id="amount" class="form-control" formControlName="amount" placeholder="Ingrese la cantidad">
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-4"><i class="fas fa-paper-plane"></i> Enviar transacción</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team" class="team">
  <div class="container green-background">
      <div class="section-title">
          <h2>Equipo de Desarrollo</h2>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-bg"></div>
              <div class="member-img">
                <img src="https://i.ibb.co/H4PJmVp/Jhonn-foto.png" class="img-fluid Angelo-foto" alt="">
              </div>
              <div class="member-info">
                  <h4>Jhonn Anderson Sotomayor Sanchez</h4>
                  <p>Estudiante de 6to semestre de Analisis de Sistemas</p>                   
                  <div class="social">
                      <a href="https://www.linkedin.com/in/jhonn-sotomayor-4629971b2/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  </div>
              </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <div class="member-bg"></div>
                  <div class="member-img">
                    <img src="https://media.licdn.com/dms/image/D4E03AQF8s7WKHFZy2Q/profile-displayphoto-shrink_800_800/0/1718247560137?e=1724889600&v=beta&t=DBp031KkrOaQ7F3j-sKb07wj5EmtU9Q9VhIf_KHkHec" class="img-fluid Angelo-foto" alt="">
                  </div>
                  <div class="member-info">
                      <h4>Angelo Rodrigo La Madrid Escalante</h4>
                      <p>Estudiante de 6to semestre de Analisis de Sistemas</p>                   
                      <div class="social">
                          <a href="https://www.linkedin.com/in/angelo-la-madrid-7a970423a/" target="_blank"><i class="bi bi-linkedin"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-6 footer-links">
          <img src="https://vallegrande.edu.pe/wp-content/uploads/2023/03/logo-v3.png" alt="Valle Grande" style="max-width: 100%; height: auto;">
          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <br>
            <a href="https://x.com/vallegrande_" class="twitter" target="_blank" rel="noopener noreferrer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="twitter-icon">
                <path fill="#ffffff" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 13l-1.41 1.41L12 13.41l-3.59 3.59L7 15l3.59-3.59L7 7.83 8.41 6.41 12 10l3.59-3.59L17 7.83l-3.59 3.59L17 15z"/>
              </svg>
            </a>
            <a href="https://www.facebook.com/tecnologiaVG?locale=es_LA" class="facebook" target="_blank" rel="noopener noreferrer"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/valle_grande_oficial?igsh=MWUwY2c2bDJkZ29ucg==" class="instagram" target="_blank" rel="noopener noreferrer"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/company/tecnologiavg/" class="linkedin" target="_blank" rel="noopener noreferrer"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>CONTACTO</h3>
          <p>
            I.E.S. Valle Grande Panamericana Sur: Km. 144. <br>
            San Vicente de Cañete, Lima, Perú.<br>
            Apartado Postal 70. <br><br>
            <strong>Telefono fijo :</strong> (01) 581-2261<br>
            <strong>Email:</strong> informes&#64;vallegrande.edu.pe<br>
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
</footer>
