<div class="slider-container">
  <div class="slider-wrapper">
    <button class="prev-slide">❮</button>
    <div class="slider">
      <img src="assets/images/baseSepolia.png" alt="Imagen 1" width="1500px" height="600px !important;">>
      <img src="assets/images/redSepolia.png" alt="Imagen 2" width="1500px" height="600px !important;">>
      <img src="assets/images/monedaETH.png" alt="Imagen 3" width="1500px" height="600px !important;">>
    </div>
    <button class="next-slide">❯</button>
  </div>
</div>